Exercise 1:

In [1]:
import re
txt = 'Some analysts say a Buffett-less Berkshire Hathaway could be a candidate for being broken up into multiple companies'
x = re.search("^Some.*companies$", txt)
print(x)

<re.Match object; span=(0, 116), match='Some analysts say a Buffett-less Berkshire Hathaw>

Exercise 2:

In [2]:
import re
str = 'Some analysts say a Buffett-less Berkshire Hathaway could be a candidate for being broken up into multiple companies'

x = re.findall('ou', str)
print(x)

['ou']

Exercise 3:

In [3]:
import re
str = 'Some analysts say a Buffett-less Berkshire Hathaway could be a candidate for being broken up into multiple companies'

x = re.findall('in to', str)
print(x)

[]

Exercise 4:

In [4]:
import re
str = 'Some analysts say a Buffett-less Berkshire Hathaway could be a candidate for being broken up into multiple companies'

x = re.search('\s', str)
print("The first white-space character is located in the position:" , x.start())

The first white-space character is located in the position: 4

Exercise 5:

In [5]:
import re
str = 'Buffet, who is worth almost $90 billion, still lives in a relatively modest house about 10 minutes outside downtown Omaha that he bought in 1958.'

x = re.split('\s', str)
print(x)

['Buffet,', 'who', 'is', 'worth', 'almost', '$90', 'billion,', 'still', 'lives', 'in', 'a', 'relatively', 'modest', 'house', 'about', '10', 'minutes', 'outside', 'downtown', 'Omaha', 'that', 'he', 'bought', 'in', '1958.']

Exercise 6:

In [6]:
import re
str = 'Buffet, who is worth almost $90 billion, still lives in a relatively modest house about 10 minutes outside downtown Omaha that he bought in 1958.'

x = re.sub('\s', "*" , str)
print(x)

Buffet,*who*is*worth*almost*$90*billion,*still*lives*in*a*relatively*modest*house*about*10*minutes*outside*downtown*Omaha*that*he*bought*in*1958.

Exercise 7:

In [7]:
import re
str = 'Buffet, who is worth almost $90 billion, still lives in a relatively modest house about 10 minutes outside downtown Omaha that he bought in 1958.'

x = re.sub('\s', "*" , str, 4)
print(x)

Buffet,*who*is*worth*almost $90 billion, still lives in a relatively modest house about 10 minutes outside downtown Omaha that he bought in 1958.

Exercise 8:

In [8]:
import random
#using choice
print('A random number from list is : ', end='')
print(random.choice([1,3,5,7,9]))
#using randrange
print('A random number from range is : ', end='')
print(random.randrange(10, 40, 5))
#using random
print('A random number between 0 and 1 is : ', end='')
print(random.random())
#using seed
print('The mapped random number with 4 is : ', end='')
print(random.random())

lst_odd = [1,9,5,7,3]
print('The list before shuffling is : ', end='')
for i in range(0, len(lst_odd)):
    print(lst_odd[i], end='')
print('\r')

#using shuffle
random.shuffle(lst_odd)
print('The list after shuffling is : ', end='')
for i in range(0, len(lst_odd)):
    print(lst_odd[i], end='')
print('\r')

#using uniform
print('The random floating point number between 5 and 10 is : ', end='')
print(random.uniform(5,10))

A random number from list is : 5
A random number from range is : 20
A random number between 0 and 1 is : 0.6396350882725711
The mapped random number with 4 is : 0.7871744584491254
The list before shuffling is : 19573
The list after shuffling is : 37591
The random floating point number between 5 and 10 is : 9.80233361359865

Exercise 9:

In [9]:
#uit_1 is in the global namespace
uit_1 = 5
def some_func():
    
    #cs_2 is in the local namespace
    cs2 = 6
    def some_inner_func():
        #var3 is in the nested local
        #namespace
        se_3 = 7

Exercise 10:

In [10]:
count = 5
def some_method():
    global count
    count = count+1
    print(count)
some_method()

6